<form class="pure-form pure-form-aligned" method="POST" action="/signin/">
	<fieldset>
		<div class="pure-control-group">
			<label>登录名称</label>
			<input type="text" name="User_login" required autocomplete="off">
			<sapn>* 一定要牢记, 推荐使用您的邮箱地址</sapn>
		</div>
		<div class="pure-control-group">
			<label>登录密码</label>
			<input type="password" name="User_pass" required autocomplete="off">
			<sapn>* 足够复杂的密码是帐号安全的基础</sapn>
		</div>
	</fieldset>
	<a href="#">找回密码</a> <button class="pure-button pure-button-primary">提交</button>
</form>